@using System.ServiceModel.Channels
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <label>Name:</label>  @ViewBag.animalName
    <label>Age:</label>  @ViewBag.animalAge
    <img src="@Url.Content("~/fonts/cow.png")" alt="IMAGES" width="500" height="600"/>
</div>